{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="cartoonimgactive">Cartoons</div></a>
        <a href="/column"><div id="texteimg">Texte</div></a>
        <a href="/news"><div id="newsimg">News</div></a>
        <a href="/portrait"><div id="portraitimg">Portrait</div></a>
        <a href="/contact"><div id="kontaktimg">Kontakt</div></a>
    </div>
{% endblock %}
{% block cartoons %}
    <div id="container">
        {% if featured.first_image %}
        <a href="/news">
            <div class="item image4-4">
                    <img src = "{{ featured.first_image.image.url }}" height="{{ featured.first_image.image.height }}" width="{{ featured.first_image.image.width }}">
                <div class="supernews">
                    <img src="{{ STATIC_URL }}img/superpost.png" height="100px" width="200px"/>
                </div>
            </div>
        </a>
        {% endif %}

        {% for cartoon in cartoons %}
            {% if cartoon.image %}
                <div class="item image{{ cartoon.width }}-{{ cartoon.height }} {{ cartoon.category }}">
                    {% if cartoon.image %}
                    <a class="fancybox" href="{{ cartoon.get_absolute_url }}" rel="group">
                        <img src = "{{ cartoon.image.url }}">
                    <div class="imagetext">
                        <b>{{ cartoon.category }}</b></br>
                        {{ cartoon.date|date:"d. F Y" }}
                    </div>
                    </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="item category {{ cartoon.name }}" title="{{ cartoon.name }}">
                    {{ cartoon.name }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
